###> RentOps Configuration ###
APP_ENV=dev
APP_SECRET=CHANGE_ME_GENERATE_A_RANDOM_SECRET
DATABASE_URL=mysql://rentops:CHANGE_ME@mysql:3306/rentops?serverVersion=8.0
JWT_SECRET=CHANGE_ME_GENERATE_A_RANDOM_JWT_SECRET
JWT_ACCESS_TOKEN_TTL=900
JWT_REFRESH_TOKEN_TTL=1209600
PAYMENT_SHARED_SECRET=CHANGE_ME_GENERATE_A_RANDOM_PAYMENT_SECRET
BACKUP_ENCRYPTION_KEY=CHANGE_ME_MUST_BE_32_CHARACTERS!
STORAGE_PATH=/var/www/storage
###< RentOps Configuration ###
